@charset "UTF-8";
body {
  background-color: #7fc8e2;
}

.mainpage {
  height: 879px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container {
  width: 1036px;
  height: 601px;
  padding: 0.5em 1em;
  margin: 5em 0;
  font-weight: bold;
  color: #fff;
  background: #7fc8e2;
  border: solid 9px #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container-left h3 {
  font-size: 40px;
  line-height: 11px;
  font-weight: normal;
  margin-top: 67px;
}

.main-container-left h1 {
  font-size: 55px;
  line-height: 2em;
}

.main-container-right {
  height: 499px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 50px;
}

.mainpage-bottom {
  background-color: #fff;
}

.mainpage-bottom-container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  height: 293px;
}

.mainpage-bottom-title {
  font-size: 26px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.mainpage-bottom-title :before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 50px;
  /*下線の幅*/
  height: 2px;
  /*下線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #666666;
  /*下線の色*/
}

.mainpage-bottom-inner {
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}

.secondary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 879px;
}

.secondary-container-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 130px;
}

.secondary-left-title {
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 30px;
  letter-spacing: 6px;
}

.secondary-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 130px;
}

.secondary-left-ineer {
  letter-spacing: 3px;
}

.secondar-right-img {
  padding: 2.5em 4em;
  margin: 5em 0;
  font-weight: bold;
  color: #fff;
  background: #7fc8e2;
  border: solid 3px #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.thirdly-right-img img {
  padding: 25px;
}
/*# sourceMappingURL=style.css.map */